.loader
  background #ffffff
  height 100vh
  left 0
  position fixed
  top 0
  width 100vw
  z-index 999
  .loader__progress
    font-size 5rem
    left 50%
    position absolute
    top 50%
    transform translate3d(-50%, -50%, 0)
